{% extends "basic/base.html" %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'meals/css/style.css' %}?v=1.0"/>
{% endblock %}

{% block meals_active %}<li class="nav-item dropdown active">{% endblock %}

{% block content %}
    <h1>Thanksgiving Meal Recipient Registration</h1>
    <p>
        If you're looking to register someone for a Thanksgiving meal, please enter the password given to
        you below and hit submit. You will be redirected to the appropriate form for registration.
    </p>
    <p>
        If you do not have the password, please contact us at <a href="mailto:info@runyons.com">info@runyons.com</a>
        to request access.
    </p>
    <form id="meal_registration_form" action="" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label class="form-control-label" for="id_password">Password:</label>
            <input type="password" name="password" id="id_password" class="form-control
            {% if resubmit %}
                {% if form.password.errors %}
                    is-invalid
                {% endif %}
            {% endif %}" placeholder="********" required />
            {% if form.password.errors %}
            {% for error in form.password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}

        </div>

        <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
        {% if error_message %}
        <div class="captcha-error">{{ error_message }}</div>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
{% endblock %}