{% extends "basic/base.html" %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'meals/css/style.css' %}?v=1.0"/>
{% endblock %}

{% block meals_active %}<li class="nav-item dropdown active">{% endblock %}

{% block content %}
    <h1>Account Setup</h1>
    {% if CLIENT_REGISTRATION_FORTHCOMING %}
    <div class="alert alert-info" role="alert">
        <span class="font-weight-bold"> Please note, </span> we are still getting things ready for meal registration.
        Please return here on <span class="font-weight-bold"> {{ CLIENT_REGISTRATION_START_DATE }} </span> and you can
        begin registering meal recipients. Thank you for your patience!
    </div>
    {% else %}
    <p>
        If you're looking to register someone for a Thanksgiving meal, you'll need to login or create an account. To
        create an account, please enter the password given to you below and hit submit. You will be redirected to an
        account registration page. After you make your account, you can log in and begin registering meal recipients.
    </p>
    <p>
        If you do not have the password, please contact us at <a href="mailto:info@runyons.com">info@runyons.com</a>
        to request access.
    </p>
    <form id="meal_registration_form" action="" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label class="form-control-label" for="id_password">Password:</label>
            <input type="password" name="password" id="id_password" class="form-control
            {% if resubmit %}
                {% if form.password.errors or password_error %}
                    is-invalid
                {% endif %}
            {% endif %}" placeholder="********" required />
            {% if form.password.errors %}
            {% for error in form.password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
            {% if password_error %}
            <div class="invalid-feedback">{{ password_error }}</div>
            {% endif %}

        </div>

        <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
        {% if captcha_error %}
        <div class="captcha-error">{{ captcha_error }}</div>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
    {% endif %}
{% endblock %}