{% extends "basic/base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'volunteers/about.css' %}"/>
{% endblock %}

{% block volunteers_active %}<li class="nav-item dropdown active">{% endblock %}

{% block content %}
<h1>Interested in volunteering?</h1>
<p>
    Every year, we are always humbled by the number of people who want to volunteer their time on Thanksgiving. While we rarely have a shortage of volunteers, we occasionaly do have a shortage of donations. 
    <br>
    If you'd like to donate, please contact (???) ???-????
    <br>
    If you'd like to volunteer, please fill out our contact form and someone will follow up with you as soon as possible
</p>
<a href="{% url 'volunteers:contact' %}">Contact Us</a>
{% endblock %}