{% extends "basic/base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'volunteers/css/contact.css' %}?v=1.0"/>
{% endblock %}

{% block volunteers_active %}<li class="nav-item dropdown active">{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<p>
    Please fill out your information below, indicating how many adults/children are in your group so that we can best
    accommodate your needs. Please also indicate your preference (or lack thereof) for driving vs. volunteering
    in-house.
</p>
<p>
    For those of you who are new to Runyon’s Thanksgiving, we often have the most need for volunteers to drive a
    delivery route on Thanksgiving Day. If you volunteer to be a driver, we will assign you a time in the mid-late
    morning to arrive at Runyon’s and pick up the meals. We will provide you with a route of generally 4-8 addresses
    in a designated area and ample directions and instructions for delivery to the clients. We prefer two adults to
    be present for all delivery routes.
</p>
<p>
    If you are interested in volunteering in-house on Thanksgiving morning, you will assist in packaging items at
    Runyon’s in the early morning for the meals to be delivered.
</p>
<p>
    Thank you for your interest and generosity!
</p>
<form id="contact_form" action="" method="post" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <label class="form-control-label" for="id_name">Name:</label>
        <input type="text" name="name" id="id_name" class="form-control 
        {% if resubmit %} 
            {% if form.name.errors %} 
                is-invalid 
            {% else %} 
                is-valid 
            {% endif %} 
        {% endif %}" placeholder="John Smith" {% if form.name.value != None %} value="{{ form.name.value }}" {% endif %} required />
        {% if form.name.errors %}
        {% for error in form.name.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
        {% endif %}
        
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="form-control-label" for="id_email">Email:</label>
            <input type="email" name="email" id="id_email" class="form-control 
            {% if resubmit %} 
                {% if form.email.errors %} 
                    is-invalid 
                {% else %} 
                    is-valid 
                {% endif %} 
            {% endif %}" placeholder="name@example.com" {% if form.email.value != None %} value="{{ form.email.value }}" {% endif %} required />
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group col-md-6">
            <label for="id_phone">Phone:</label>
            <input type="text" name="phone" id="id_phone" class="form-control 
            {% if resubmit %} 
                {% if form.phone.errors %} 
                    is-invalid 
                {% else %} 
                    is-valid 
                {% endif %} 
            {% endif %}" placeholder="(555) 555-5555" {% if form.phone.value != None %} value="{{ form.phone.value }}" {% endif %} required />
            {% if form.phone.errors %}
            {% for error in form.phone.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="id_number_of_adults">Number of adults:</label>
            <input type="number" name="number_of_adults" id="id_number_of_adults" class="form-control 
            {% if resubmit %} 
                {% if form.number_of_adults.errors %} 
                    is-invalid 
                {% else %} 
                    is-valid 
                {% endif %} 
            {% endif %}" {% if form.number_of_adults.value != None %} value="{{ form.number_of_adults.value }}" {% endif %} required />
            {% if form.number_of_adults.errors %}
            {% for error in form.number_of_adults.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group col-md-4">
            <label for="id_number_of_children">Number of children:</label>
            <input type="number" name="number_of_children" id="id_number_of_children" class="form-control 
            {% if resubmit %} 
                {% if form.number_of_children.errors %} 
                    is-invalid 
                {% else %} 
                    is-valid 
                {% endif %} 
            {% endif %}" {% if form.number_of_children.value %} value="{{ form.number_of_children.value }}" {% endif %}/>
            {% if form.number_of_children.errors %}
            {% for error in form.number_of_children.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group col-md-4">
            <label for="id_preference">Preference:</label>
            <select name="preference" id="id_preference" class="form-control 
                {% if resubmit %} 
                    {% if form.preference.errors %} 
                        is-invalid 
                    {% else %} 
                        is-valid 
                    {% endif %} 
                {% endif %}">
                {% for value,display_text in form.fields.preference.choices %}
                    <option value="{{ value }}"{% if form.preference.value == value %} selected{% endif %}>{{ display_text }}</option>
                {% endfor %}
            </select>
            {% if form.preference.errors %}
            {% for error in form.preference.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <label for="id_details">Additional details:</label>
        <textarea name="details" placeholder="Enter additional details here..." id="id_details" cols="50" rows="5" class="form-control 
            {% if resubmit %} 
                {% if form.details.errors %} 
                    is-invalid 
                {% else %} 
                    is-valid 
                {% endif %} 
            {% endif %}">{% if form.details.value != None %}{{ form.details.value }}{% endif %}</textarea>
        {% if form.details.errors %}
        {% for error in form.details.errors %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
    {% if error_message %}
    <div class="captcha-error">{{ error_message }}</div>
    {% endif %}
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>
{% endblock %}