{% extends "basic/base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'basic/css/style.css' %}"/>
{% endblock %}

{% block home_active %}<li class="nav-item active">{% endblock %}

{% block content %}
<h1>Runyon's Thanksgiving Meal Drive</h1>
<p class="lead">
  Welcome to the landing page for the 2017 Thanksgiving Meal Drive!
  <br>
  Potential volunteers should refer to the 'Volunteers' tab above. We're not quite ready to accomodate new client submissions, but check back with us soon!
</p>
{% endblock %}