# token used as private key for Google captcha
RECAPTCHA_PUBLIC_KEY = 'changeme'
RECAPTCHA_PRIVATE_KEY = 'changeme'

# RECAPTCHA keys for debugging
# RECAPTCHA_PUBLIC_KEY = '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI'
# RECAPTCHA_PRIVATE_KEY = '6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe'

SECRET_KEY = 'changeme'

DEBUG = False

if not DEBUG:
    SESSION_COOKIE_SECURE = True
    CSRF_COOKIE_SECURE = True

ALLOWED_HOSTS = ['www.runyonsthanksgiving.com']

# id of the volunteers spreadsheet
VOLUNTEER_SPREADSHEET_ID = 'changeme'

# id of the donations spreadsheet
DONATIONS_SPREADSHEET_ID = 'changeme'

# id of the meals spreadsheet
MEALS_SPREADSHEET_ID = 'changeme'

# id of open/close registration spreadsheet
OPEN_CLOSE_SPREADSHEET_ID = 'changeme'

# path to Google Sheets API key
SHEETS_API_KEY = 'changeme'

SECURE_HSTS_SECONDS = 3600
SECURE_HSTS_INCLUDE_SUBDOMAINS = True

SHARED_PASSWORD = 'changeme'

NO_MORE_CLIENTS = False

NO_MORE_VOLUNTEERS = False

WAIT_BEFORE_DONATING = False

DONATE_START_DATE = "changeme"

CLIENT_REGISTRATION_FORTHCOMING = False

CLIENT_REGISTRATION_START_DATE = "changeme"

CHECK_SHEET_FOR_OPEN_CLOSE = False

EVENT_YEAR = 2017

DONE_FOR_THE_YEAR = False
